html{
    height: 100%;
}
*{
    font-family: sans-serif;
}
body{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: linear-gradient(166deg, rgba(132,0,255,1) 0%, rgba(0,12,255,1) 100%);
}
#app{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.indexDiv{
    display: flex;
    height: 60%;
    width: 40%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.input{
    margin-top: 1px;
    background-color: rgba(224, 224, 224, 0);
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    border-bottom: rgb(56, 56, 185) solid;
    text-align: center;
    justify-content: center;
    
}
.primeirosB{
    margin-top: 20px;
    margin-left: 10px;
}
#firstButtons{
    height: 35px;
    width: 20%;
    margin-right: 2%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.514);
    border: rgb(6, 163, 253) 2px solid;
    font-size: large;
    color: rgb(6, 163, 253);
}
.delete{
    margin-left: 4%;
    background-color: rgba(255, 255, 255, 0.514);
    font-size: large;
    border: rgb(223, 27, 27) 2px solid;
    height: 35px;
    width: 20%;
    border-radius: 10px;
    color: rgb(223, 27, 27);
}

button{
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.48);
}

.segundosB{
    margin-top: 30px;
    margin-left: 10px;
}
.terceirosB{
    margin-top: 30px;
    margin-left: 10px;
}
.quartosB{
    margin-top: 30px;
    margin-left: 10px;
}

#segButtons{
    height: 35px;
    width: 20%;
    margin-right: 2%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.514);
    border: rgb(6, 163, 253) 2px solid;
    font-size: large;
    color: rgb(6, 163, 253);
}
.soma{
    height: 35px;
    margin-left: 4%;
    border: rgb(42, 192, 117) 2px solid;
    background-color: rgba(255, 255, 255, 0.514);
    color: rgb(42, 192, 117);
    width: 10%;
    font-size: large;
    border-radius: 10px;
}
.sub{
    border: rgb(231, 156, 16) 2px solid;
    color: rgb(231, 156, 16);
    background-color: rgba(255, 255, 255, 0.514);
    height: 35px;
    width: 10%;
    font-size: large;
    border-radius: 10px;
}

#terButtons{
    height: 35px;
    width: 20%;
    margin-right: 2%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.514);
    border: rgb(6, 163, 253) 2px solid;
    font-size: large;
    color: rgb(6, 163, 253);
}

.div{
    height: 35px;
    margin-left: 4%;
    border: rgb(201, 25, 207) 2px solid;
    color: rgb(201, 25, 207);
    background-color: rgba(255, 255, 255, 0.514);
    width: 10%;
    font-size: large;
    border-radius: 10px;
}
.mult{
    border: rgb(30, 193, 199) 2px solid;
    color: rgb(30, 193, 199);
    background-color: rgba(255, 255, 255, 0.514);
    height: 35px;
    width: 10%;
    font-size: large;
    border-radius: 10px;
}
.zero{
    height: 35px;
    width: 43%;
    margin-right: 2%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.514);
    border: rgb(6, 163, 253) 2px solid;
    font-size: large;
    color: rgba(6, 162, 253, 0.705);
}
.point{
    height: 35px;
    width: 20%;
    margin-right: 4%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.514);
    border: rgb(6, 163, 253) 2px solid;
    font-size: large;
    color: rgb(6, 163, 253);
}
.igual{
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0.514);
    font-size: large;
    border: rgb(207, 172, 13) 2px solid;
    height: 35px;
    width: 20%;
    border-radius: 10px;
    color: rgb(207, 172, 13)
}